@import '~_variables.scss';

.btn { 
    outline: none;
    border: none;
    overflow: hidden;
    display: inline-block;
    height: 64px;
    width: 64px;
}

.btn-slot{
    margin: 5px;
    background-image: url('assets/images/slot.png');
    background-repeat: no-repeat;
    background-color: $slot-back-color;
    border-radius: 6px;
    &.finished {
        background-color: #daf7e5;
    }
    &.progress {
        background-color: #e0c02e;

        & > div.time {  //  show time
            display: inline-block;
        }
    }
    &.empty {
        opacity: 0.6;
    }
}

.btn-icon {
    background: 9px 9px/46px 46px no-repeat #0000;
}

.menu-build {    
    position: absolute;
    width: 128px;
    height: 64px;
    background-color: $back-color;
}

.menu-options {   
    position: absolute; 
    background-color: $back-color;
}

.time {
    //display: none;
    position: relative;
    background-color: #385858aa;
    top: -24px;
    left: 2px;
    min-width: 32px;
    text-align: center;
}