@import '~_variables.scss';

.btn{ 
    outline: none;
    border: none;
    overflow: hidden;
    display: inline-block;
}

.btn-slot{
    margin: 5px;
    height: 64px;
    width: 64px;
    background-image: url('../../../../assets/images/slot.png');
    background-repeat: no-repeat;
    background-color: $slot-back-color;
    border-radius: 6px;
}

.btn-build{
    height: 32px;
    width: 32px;
    margin: 16px 0 0 16px; //  center in parent div
    background-image: url('../../../../assets/buttons/build.png');
    background-size: 32px 32px;
    background-color: #0000;
}

.menu-build {    
    position: absolute;
    width: 128px;
    height: 64px;
    background-color: $back-color;
}

.menu-options {   
    position: absolute; 
    background-color: $back-color;
}