@import '~_variables.scss';

.btn { 
    outline: none;
    border: none;
    overflow: hidden;
    display: inline-block;
    height: 64px;
    width: 64px;
}

.btn-slot{
    margin: 5px;
    background-image: url('assets/images/slot.png');
    background-repeat: no-repeat;
    background-color: $slot-back-color;
    border-radius: 6px;
    &.finished {
        background-color: #daf7e5;
    }
    &.progress {
        animation:  pulse 1.75s infinite; //   back color animation       
        
        & > div.time {  
            display: inline-block; //  show time if progress
        }
        & > div img {
            animation:spin 1.75s ease-in infinite;  //  hammer animation         
        }
    }
    &.empty {
        opacity: 0.6;
    }

    div.lvl {
        float: left;
        position: relative;
        top: -59px;
        left: 10px;
        padding: 0 2px 0 2px;
        text-align: center;
        font-size: 22px;
        color: #a600b0;
        background-color: #fbfbb494;
        height: 18px;
        line-height: 18px;
    }
}

.btn-icon img{
    background-color: #0000;
    position: relative;
    top: 9px;
    left: 9px;
    width: 46px;
    height: 46px;   
}

.menu-build {    
    position: absolute;
    width: 128px;
    height: 64px;
    background-color: $back-color;
}

.menu-options {   
    position: absolute; 
    background-color: $back-color;
}

.time {
    background-color: #385858aa;
    position: relative;
    top: -22px;
    float: left;
    margin-left: 9px;
}

@keyframes pulse {
    0% {background-color: #ffac4d;}
    50% {background-color: #ffff00;}
    100% {background-color: #ffac4d;}
}
@keyframes spin { 
    0%  {transform:rotate(-20deg);}
    50% {transform:rotate(20deg);}
    100% {transform:rotate(-20deg);} 
}