@import '~_variables.scss';

.dashboard {
    height: 100vh;
    background-image: url('assets/images/8ec8ee6bc4062316c995a3a9fd8bbb5a.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.status {
    margin: 50px 10px 5px;
    font-size: 30px;
    text-align: center;
    color: $text-color;
    background-color: $skin-color;
    padding: 20px;
}

.sign-in{
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: $text-color;
    background-color: $skin-color;
    border-color: $text-color;
}