<div class="content flex-container column">
	<div class="flex-container row menu">
		<a class="" routerLink="/game/character" routerLinkActive="active">Hero</a>
		<a class="" routerLink="/game/city" routerLinkActive="active">City</a>
		<a class="" routerLink="/game/map" routerLinkActive="active">Map</a>
	</div>
	<div>
		<img src="assets/images/castle.png" width="150" />
	</div>
	<div>
		<img src="assets/images/city.png" width="150" />
	</div>
	<div>
		<img src="assets/images/builder.png" width="150" />
	</div>
</div>