@import '~_variables.scss';
.content {
    position: fixed;
    background-color: $back-color;
    height: 100vh;
    width: 100vw;
    color: $text-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../assets/images/overview_back.png');

    .flex-container.column {
        align-items: flex-start;
    }
}

.menu {
    margin: 5px;
    justify-content: flex-start;
    font-size: 20px;
}

a {
    text-decoration: none;
    display: flex;
    flex: 1;
    margin-left: 2px;
    padding: 12px;
    border: solid 1px $text-color;
    background-color: $skin-color;
    color: $text-color;
}

.stat {
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        text-align: right;        
    }
    div.slot img {
        opacity: 1;
    }
}



.slot {
    margin: 5px;
    background-image: url('../../../assets/images/slot.png');
    background-repeat: no-repeat;
    background-color: $slot-back-color;
    border-radius: 6px;
    width: 64px;
    height: 64px;
    
    &.rotate img{
        animation: rotate 2s infinite;
    }
    &.shake img {
        animation: shake 2s linear infinite;
    }

    img {
        display: block; //  show both images
        opacity: 0.6;
        position: relative;
        top: 9px;
        left: 9px;
        background-color: #0000;
        width: 46px;
        height: 46px;
        flex: 0 1;        
    }

    img.zzz {
        position: relative;
        top: -37px;
        left: 9px;
        opacity: 1;
        animation: builder-idle 2.0s ease-in infinite;
    }

    &.progress {
        background-color: $text-color;
        animation: builder-pulse 2.0s ease-in infinite;
    }
    &.progress img {
        animation: builder-working 2.0s ease-in infinite; //   back color animation     
        &.zzz {
            display: none;  //  hide sleeping
        }  
    }
}

.details {
    margin: 5px;
    padding: 5px;
    flex: 1;
    display: flex;
    flex-flow: column;
    & div {
        padding: 2px;
        flex: 1;
    }
}

.builder {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
}
@keyframes rotate { 
    0% { transform: rotateY(0deg);}
    100%{ transform: rotateY(360deg);}
}
@keyframes shake {
    0% {
      transform:  rotateZ(-7deg);
    }
    
    25% {
      transform: rotateZ(0deg);
    }
  
    50%{
      transform: rotateZ(7deg);
    }

    75%{
        transform: rotateZ(0deg);
      }
  
    100% {
      transform:  rotateZ(-7deg);
    }
  }
@keyframes builder-working {
    0% {
        transform: scale(1.0) rotate(-5deg);
    }
    50% {
        transform: scale(0.5) rotate(20deg);
    }
    100% {
        transform: scale(1.0) rotate(-5deg);
    }
}

@keyframes builder-pulse {
    0% {
        background-color: #794580;
    }
    50% {
        background-color: #6cb914;
    }
    100% {
        background-color: #794580;
    }
}

@keyframes builder-idle {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}