<div class="content">
  <div class="flex-container row res-list">
    <div class="resource">
      <span>Food:</span>
      <span class="value">{{gcs.currentGameData?.city.resources.food | number:'1.0-0'}}</span>
    </div>
    <div class="resource">
      <span>Wood:</span>
      <span class="value">{{gcs.currentGameData?.city.resources.wood | number:'1.0-0'}}</span>
    </div>
    <div class="resource">
      <span>Stone:</span>
      <span class="value">{{gcs.currentGameData?.city.resources.stone | number:'1.0-0'}}</span>
    </div>
  </div>

  <div class="city-slots">
    <div class="row">
      <city-slot *ngFor="let b of gcs.currentGameData?.city.buildings; let i = index" [id]="i" (click)="onSlotClick(i, $event)"></city-slot>
    </div>
  </div>

  <city-build-menu #bm></city-build-menu>
  <city-options-menu #om></city-options-menu>
</div>