@import '~_variables.scss';

.content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/images/city_back.png');
    align-content: flex-start;    
    color: $text-color;
    & div{
        justify-content: flex-start;
    }
}
.res-list{
    margin: 4px 35px 4px 4px;
}
.resource{
    background-color: $skin-color;
    border: solid 1px $text-color;
    flex: 0 1 25%;
    margin-left: 2px;
    text-align: left;
    padding: 3px 2px 3px 5px;
    font-size: 22px;
    .value {
        font-family: 'Yatra One',Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #defdfa;
    }
}

.city-slots {
    padding: 30px 5px 0;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}