@import '~_variables.scss';
.menu {
    padding-top: 10px;
}

.card {
    background-color: $skin-color;
    margin: 10px;
    border: 2px solid $text-color;
    height: 65px;
    width: 65px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.disabled {
    //filter: brightness(80%);
    border: none;
    opacity: 0.6;
}