@import '~_variables.scss';

.card {
    background-color: $skin-color;
    margin: 10px;
    border: 2px solid $text-color;
    height: 65px;
    border-radius: 45px;    
    display: flex;
    align-items: center;
    justify-content: center;   
}
.disabled  {
    filter: brightness(250%);
    border: none;
    opacity: 0.7;
} 