.connection-status {
    z-index: 1000;
    position: absolute;
    top: 3px; 
    left: 6px; 
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 16px;
    cursor: pointer;
    &.connected {
        background-color: green;
    }
}

.tooltip {
    position: relative;
    left: -12px;
    top: -4px;
    background-color: rgba(200, 200, 200, 0.9);
    display: none;
    min-width: 65px;
    font-size: 14px;
    padding: 4px 2px;
    text-align: left;
}

.connection-status:hover .tooltip,
.connection-status:focus .tooltip {
    display: block;
}