<div class="content">
  <div class="equipment-slots">
    <div class="row">
      <button class="slot" id="head" (click)="eqClick(0)"></button>
    </div>
    <div class="row">
        <button class="slot" id="neck" (click)="eqClick(1)"></button>
      </div>
    <div class="row">
      <button class="slot" id="handL" (click)="eqClick(2)"></button>
      <button class="slot" id="body" (click)="eqClick(3)"></button>
      <button class="slot" id="handR"  (click)="eqClick(4)"></button>
    </div>
    <div class="row">
      <button class="slot" id="ringL"  (click)="eqClick(5)"></button>
      <button class="slot" id="legs" (click)="eqClick(6)"></button>
      <button class="slot" id="ringR" (click)="eqClick(7)"></button>
    </div>   
    <div class="row">
      <button class="slot" id="boots" (click)="eqClick(8)"></button>
    </div>
  </div>

  <div class="items">
        <label>Head:</label><span>{{eqInfo(0)}}</span>
        <label>Neck:</label><span>{{eqInfo(1)}}</span>
        <label>L Hand:</label><span>{{eqInfo(2)}}</span>
        <label>R Hand:</label><span>{{eqInfo(4)}}</span>
        <label>L Ring:</label><span>{{eqInfo(5)}}</span>
        <label>R Ring:</label><span>{{eqInfo(7)}}</span>
        <label>Body:</label><span>{{eqInfo(3)}}</span>
        <label>Legs:</label><span>{{eqInfo(6)}}</span>
        <label>Boots:</label><span>{{eqInfo(8)}}</span>
    </div>

  <div class="">
    <div class="flex-container">
      <label>Food:</label>
      <input readonly [value]="sd?.City.resources.food | number:'1.0-0'" />
    </div>
    <div class="flex-container">
      <label>Wood:</label>
      <input readonly [value]="sd?.City.resources.wood | number:'1.0-0'" />
    </div>
    <div class="flex-container">
      <label>Stone:</label>
      <input readonly [value]="sd?.City.resources.stone | number:'1.0-0'" />
    </div>
  </div>
</div>