<div class="container" *ngIf="visible">
	<div class="overlay"></div>
	<div class="dialog">
		<back-button (onClick)="close()"></back-button>
		<div class="title">{{building.name}} level {{building.level}}</div>
		<div class="sub-title">output {{getBuildingProductionString(building)}}</div>
		<div class="buttons">
			<div class="btn" (click)="onUpgradeClick()">
				<img src="assets/buttons/upgrade.png" />
				<div class="desc" [class.red]="!canUpgrade()">
					<span>Upgrade to level {{building.level + 1}}</span>
					<span>build time {{upgradeTime()}}</span>
					<span>{{getUpgradeProductionIncrease()}}</span>
					<!-- <div>
					</div> -->
				</div>
				<div class="cost">
					<span [class.red]="!canUpgrade('f')">{{building.upgradeCost.food}} </span> 
					<span [class.red]="!canUpgrade('w')">{{building.upgradeCost.wood}} </span> 
					<span [class.red]="!canUpgrade('s')">{{building.upgradeCost.stone}} </span>
				</div>
				<div class="right">
					<span>food</span>
					<span>wood</span>
					<span>stone</span>
				</div>
			</div>
			<div class="btn" (click)="onDestroyClick()">
				<img src="assets/buttons/destroy.png" />
				<div class="desc">
					<span class="danger">Destroy building</span>				
				</div>
				<div class="cost">
					<span>{{destroyRefund.food}} </span> 
					<span>{{destroyRefund.wood}} </span> 
					<span>{{destroyRefund.stone}} </span>
				</div>
				<div class="right">
					<span>food</span>
					<span>wood</span>
					<span>stone</span>
				</div>
			</div>
		</div>
	</div>
</div>