@import '~_variables.scss';

.container{    
    font-family: 'Yatra One';
}

.overlay {
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #584e4e;
    opacity: 0.85;
}

.dialog {  
    position: absolute;
    top: 20vh;
    left: 10px;
    z-index: 2001;
    flex-direction: column;
    width: calc(100vw - 30px); //   (10px border + 5px padding) * 2
    padding: 5px;
    display: flex;
    background-color: $skin-color;
    border: solid 1px $text-color;
}
.title {
    font-size: 24px;
    color: #fff;
}
.build {
    display: flex;
    flex-flow: column;   
}
.item {
    height: 64px;
    display: flex;
    align-items: center;
    border: solid 1px;
    margin-top: 10px;
    font-size: 14px;
    &:hover {
        background-color: lighten($skin-color, 20%);
    }

    & img { 
        padding-left: 4px; 
    }
}
.desc {
    & span {      
            margin-left: 10px;
    }
    display: flex;
    flex-flow: column;
    & span:nth-child(2){
        color: white;
    }
}
.res-req {
    color: white;
    font-size: 13px;
    display: flex;
    flex-flow: column;
    margin-left: auto;  //    for right alignment
    margin-right: 10px;
}