<div class="container" *ngIf="visible">
	<div class="overlay"></div>
	<div class="dialog">
		<back-button (onClick)="close()"></back-button>
		<div class="title">Select building</div>
		<div class="build">
			<div *ngFor="let item of items">
				<div class="item" (click)="onClick(item)">
					<img [attr.src]="getImage(item)" />
					<div class="desc">
						<span>{{item.name}}</span>
						<span>{{buildTime(item)}}</span>
					</div>
					<div class="res-req" [class.red]="!canBuild(item)">
						<span>{{item.upgradeCost.food | number:'1.0-0'}} food</span>
						<span>{{item.upgradeCost.wood | number:'1.0-0'}} wood</span>
						<span>{{item.upgradeCost.stone | number:'1.0-0'}} stone</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>