@import url('https://fonts.googleapis.com/css?family=Chicle|Yatra+One');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Chicle', cursive;
}
button, label, p {
    font-family: 'Chicle', cursive;
}
.flex-container{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    div {
        flex:  1 1 auto;
    }
}

.center {
    flex: 0 1 100vw;
}

.row {
    flex-flow: row;
}

.column, .col {
    flex-flow: column;
}